---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import Layout from "@layouts/Default.astro";
import BlogList from "@components/blog/BlogList.astro";
import { Button } from "@eliancodes/brutal-ui";

const { tag } = Astro.params;

if (tag === undefined) {
  throw new Error("Tag is required");
}

const allPosts: CollectionEntry<"blog">[] = await getCollection("blog").then(
  (collection) => collection.reverse()
);

const tags: string[] = [];

allPosts.forEach((post) => {
  post.data.tags.forEach((tag) => {
    tags.push(tag.toLowerCase());
  });
});

const blogPosts = allPosts.filter((post) =>
  post.data.tags.map((tag) => tag.toLowerCase()).includes(tag)
);
interface Props {
  blogpost: CollectionEntry<"blog">;
}
---

<Layout
  title={`Blog: ${tag}`}
  description={` AtharvaTypes Blog | All posts tagged with ${tag}`}
  pageTitle={`AtharvaTypes Blog | Blogposts tagged with ${tag}`}
>
  <main class="p-6 bg-purple grid gap-4">
    <div>
      <Button href="/blog/">&larr; Back to blog</Button>
    </div>
    <BlogList posts={blogPosts} />
  </main>
</Layout>
